@page
{
    size:  A4;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
    page-break-after: always;
    height: 99%;
}

.print:last-child {
    page-break-after: auto;
}

html
{
    margin: 0px;  /* this affects the margin on the html before sending to printer */
}

body
{
    margin: 0mm 10mm 0mm 10mm; /* margin you want for the content */
}

.label-print{
    width: 100%;
    /*width: 10cm;*/
    /*height: 5cm;*/
    background: grey;
}

.label-description{

}

.label-detail{
    width: 70%;
    background: grey;
}

.label-right{
    width: 30%;
    overflow: hidden;
}